{%load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  
	<link rel="stylesheet" href="{% static 'css/project.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  
  
<link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">

  <script type="text/javascript" src="{% static 'js/project.js' %}"></script>

    <title>My First Django</title>
  </head>
  <body>
	  {% include 'share/_navbar.html' %}

	  <div class="main" >
		  <div class = "content">
		  {% block content %}
		  {% endblock %}
  		  </div>
		{% include 'share/_footer.html'%}
	  </div>
    <!-- Optional JavaScript -->
  </body>
</html>